.App {
  text-align: center;
}

.counter{
  border: 10px solid black;
  width: 60%;
  margin: auto;
 padding: 15px;
}
button{
  margin-left: 5px;
  margin-right: 5px;

}
button :hover{
  color: teal;
  background-color: red;
}